<div class="header-title">
  <h1 class="d-inline">Presentations</h1>
  <a class="btn btn-round-lg bg-red-color text-white ml-4" routerLink="/home/addpresentation">
    <i class="fa fa-plus"></i>{{pageName}}
  </a>
</div>
<br />
<div class="btn-toolbar float-left" role="toolbar">
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-outline-dark btn-sm">Name</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-outline-dark btn-sm">Presentation Type</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-outline-dark btn-sm">Date</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-outline-dark btn-sm">Other Filters</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-outline-dark btn-sm">Reset Filter</button>
  </div>
</div>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs float-right">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">
        <i class="fa fa-th-list" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="tab-pane active">
      <table class="table" width="100%">
        <thead>
          <tr>
            <th scope="col" >Name</th>
            <th scope="col">Date</th>
            <th scope="col">Presentation Type</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let option of Presentations">
            
            <td scope="row"><i class="fa fa-image"></i> {{option.name}}</td>
            <td>{{option.date}}</td>
            <td>{{option.presentationType}}</td>
            <td class="float-right">
              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-secondary btn-sm px-4">Edit</button>
                </div>
                <div class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-danger bg-red-color btn-sm px-3">Delete</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-dark btn-sm px-2">Duplicate</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <table class="table" width="100%">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Slides Type</th>
            <th scope="col">Equipment Type</th>
            <th scope="col">Equipment Sub Type</th>
            <th scope="col"></th>
          </tr>
        </thead>
      </table>
      <div class="row ml-1 text-center text-lg-left">
        <div class="col-md-4 mb-5">
          <img class="img-fluid rounded w-75" src="assets/Images/SlideImg.png" alt="">
          <div class="caption ml-2">
            <h4>Presentation 1</h4>
            <p>
              <i class="fa fa-clock-o mr-1"></i><small> Effective: 10/12/2018 - 10/12/2018 </small>
            </p>
            <div class="row ml-1">
              <div class="mr-2">
                <button type="button" class="btn btn-secondary btn-sm">Edit</button>
              </div>
              <div class="mr-2">
                <button type="button" class="btn btn-danger bg-red-color btn-sm">Delete</button>
              </div>
              <button type="button" class="btn btn-outline-dark btn-sm">Duplicate</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <img class="img-fluid rounded w-75" src="assets/Images/SlideImg.png" alt="">
          <div class="caption ml-2">
            <h4>Presentation 1</h4>
            <p>
              <i class="fa fa-clock-o mr-1"></i><small> Effective: 10/12/2018 - 10/12/2018 </small>
            </p>
            <div class="row ml-1">
              <div class="mr-2">
                <button type="button" class="btn btn-secondary btn-sm">Edit</button>
              </div>
              <div class="mr-2">
                <button type="button" class="btn btn-danger bg-red-color btn-sm">Delete</button>
              </div>
              <button type="button" class="btn btn-outline-dark btn-sm">Duplicate</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <img class="img-fluid rounded w-75" src="assets/Images/SlideImg.png" alt="">
          <div class="caption ml-2">
            <h4>Presentation 1</h4>
            <p>
              <i class="fa fa-clock-o mr-1"></i><small> Effective: 10/12/2018 - 10/12/2018 </small>
            </p>
            <div class="row ml-1">
              <div class="mr-2">
                <button type="button" class="btn btn-secondary btn-sm">Edit</button>
              </div>
              <div class="mr-2">
                <button type="button" class="btn btn-danger bg-red-color btn-sm">Delete</button>
              </div>
              <button type="button" class="btn btn-outline-dark btn-sm">Duplicate</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <img class="img-fluid rounded w-75" src="assets/Images/SlideImg.png" alt="">
          <div class="caption ml-2">
            <h4>Presentation 1</h4>
            <p>
              <i class="fa fa-clock-o mr-1"></i><small> Effective: 10/12/2018 - 10/12/2018 </small>
            </p>
            <div class="row ml-1">
              <div class="mr-2">
                <button type="button" class="btn btn-secondary btn-sm">Edit</button>
              </div>
              <div class="mr-2">
                <button type="button" class="btn btn-danger bg-red-color btn-sm">Delete</button>
              </div>
              <button type="button" class="btn btn-outline-dark btn-sm">Duplicate</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <img class="img-fluid rounded w-75" src="assets/Images/SlideImg.png" alt="">
          <div class="caption ml-2">
            <h4>Presentation 1</h4>
            <p>
              <i class="fa fa-clock-o mr-1"></i><small> Effective: 10/12/2018 - 10/12/2018 </small>
            </p>
            <div class="row ml-1">
              <div class="mr-2">
                <button type="button" class="btn btn-secondary btn-sm">Edit</button>
              </div>
              <div class="mr-2">
                <button type="button" class="btn btn-danger bg-red-color btn-sm">Delete</button>
              </div>
              <button type="button" class="btn btn-outline-dark btn-sm">Duplicate</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <img class="img-fluid rounded w-75" src="assets/Images/SlideImg.png" alt="">
          <div class="caption ml-2">
            <h4>Presentation 1</h4>
            <p>
              <i class="fa fa-clock-o mr-1"></i><small> Effective: 10/12/2018 - 10/12/2018 </small>
            </p>
            <div class="row ml-1">
              <div class="mr-2">
                <button type="button" class="btn btn-secondary btn-sm">Edit</button>
              </div>
              <div class="mr-2">
                <button type="button" class="btn btn-danger bg-red-color btn-sm">Delete</button>
              </div>
              <button type="button" class="btn btn-outline-dark btn-sm">Duplicate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
            <ul class="pagination mx-auto text-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>

</div>
