<div class="mx-5">
  <div class="row border-bottom">
  <div class="col-sm">
    <div class="sm-2 h1">Why Coke</div>
  </div>
  <div class="col-sm">
      <button type="button" class="btn bg-red-color text-white float-right d-inline"><i class="fa fa-plus"></i> Add Slides</button>
  </div>
  </div>
  <div class="float-left" style="min-height: 500px">
    <ul class="list-inline">
      <li class="list-inline-item mx-4 my-4"><h6>Order</h6></li>
      <li class="list-inline-item mx-4 my-4"><h6>Name</h6></li>
      <li class="list-inline-item mx-4 my-4"><h6>Date</h6></li>
    </ul>
  </div>
 </div>
